@model IEnumerable<Player>
@{
    ViewBag.Title = "Ожидание игроков";
}

<div class="row">
    <div class="col">
        <h5 class="bg-success text-white text-center m-2 p-2">@ViewBag.Title</h5>
    </div>
    <div class="col-md-auto align-content-center">
        <a asp-action="Logout" asp-route-id="@ViewBag.Id" class="btn btn-outline-primary">
            Выход
        </a>
    </div>
</div>

<div class="m-2">
    <div class="form-group">
        <label class="form-label">Ваше имя:</label>
        
        <input type="text" name="name" class="form-control" 
               hx-get hx-action="Name" hx-route-id="@ViewBag.Id" hx-trigger="keyup changed dalay:500ms"
               value="@ViewBag.Name"/>
    </div>

    <div id="wait" hx-get="@Url.Action("Wait", new { ViewBag.Id })"
         hx-trigger="every 500ms">
        <partial name="Partial/WaitPartial" model="Model"/>
    </div>
</div>


