@model WaitWebModel

<div class="form-group">
    <p class="form-label">Ваша готовность:</p>

    <button hx-get="@Url.Action("SwitchReady", new { Model.Id })"
            hx-target="#wait">
        @(Model.Current.IsReady ? "Готов" : "Не готов")
    </button>
</div>

@if (Model.PlayPlayers.Any())
{
    <p>Игра уже началась! Играющие игроки:</p>
    
    <table>
        <thead>
        <tr><th>Id</th><td>Имя</td></tr>
        </thead>
        <tbody>
        @foreach (var each in Model.PlayPlayers)
        {
            <tr>
                <td>@each.Id</td>
                <td>@each.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

<p>Ожидающие начала игры игроки:</p>

<table>
    <thead>
        <tr><th>Id</th><th>Имя</th><th>Готовность</th><th></th></tr>
    </thead>
    <tbody>
    @foreach (var each in Model.WaitPlayers)
    {
        <tr>
            <td>@each.Id</td>
            <td>@each.Name</td>
            <td>@(each.IsReady ? "Готов" : "Не готов")</td>
            <td>
                @if (each.Id != Model.Id)
                {
                    <button hx-get="@Url.Action("Kick", new { Model.Id, kickId = each.Id })"
                            hx-target="#wait">
                        Выгнать
                    </button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.IsMayBeStart)
{
    <button hx-get="@Url.Action("Start", new { Model.Id })">Начать игру</button>
}
