@model WaitWebModel

<div class="my-1">
    <p class="form-label">Ваша готовность:</p>
    <button class="btn @(Model.Current.IsReady ? "btn-success" : "btn-danger")"
            hx-get="@Url.Action("SwitchReady", new { Model.Id })"
            hx-target="#wait">
        @(Model.Current.IsReady ? "Готов" : "Не готов")
    </button>
</div>

<p>Все зарегистрированные игроки:</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr><th>Id</th><th>Имя</th><th>Готовность</th><th class="col-1"></th></tr>
    </thead>
    <tbody>
        @foreach (var each in Model.All)
        {
            <tr>
                <th scope="row" class="align-middle">@each.Id</th>
                <td class="align-middle">@each.Name</td>
                <td class="align-middle text-white @(each.IsReady ? "bg-success" : "bg-danger")">
                    @(each.IsReady ? "Готов" : "Не готов")
                </td>
                <td>
                    @if (each.Id != Model.Id)
                    {
                        <button class="btn btn-warning"
                                hx-get="@Url.Action("Kick", new { Model.Id, playerId = each.Id })"
                                hx-target="#wait">
                            Выгнать
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.IsMayBeStart)
{
    <button class="btn btn-success"
            hx-get="@Url.Action("Start", new { Model.Id })"
            hx-swap="none">Начать игру</button>
}
