@model WaitWebModel

<div class="form-group">
    <p class="form-label">Ваша готовность:</p>

    <button hx-get="@Url.Action("SwitchReady", new { Model.Id })"
            hx-target="#wait">
        @(Model.Current.IsReady ? "Готов" : "Не готов")
    </button>
</div>

<p>Все зарегистрированные игроки:</p>

<table>
    <thead>
        <tr><th>Id</th><th>Имя</th><th>Готовность</th></tr>
    </thead>
    <tbody>
    @foreach (var each in Model.All)
    {
        <tr>
            <td>@each.Id</td>
            <td>@each.Name</td>
            <td>@(each.IsReady ? "Готов" : "Не готов")</td>
        </tr>
    }
    </tbody>
</table>


