@model IEnumerable<Player>

<div class="form-group">
    <p class="form-label">Ваша готовность:</p>

    <button class="btn @(ViewBag.IsReady == true ? "btn-success" : "btn-danger")"
            hx-get="@Url.Action("Ready", new { ViewBag.Id, ViewBag.IsReady })"
            hx-target="#wait">
        @(ViewBag.IsReady == true ? "Готов" : "Не готов")
    </button>
</div>

<div class="form-group mt-2">
    <h6 class="bg-success text-white p-2">Готовность всех игроков (нужны 3 игрока):</h6>

    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr><th>Имя</th><th>Готовность</th></tr>
        </thead>
        <tbody>
            @foreach (var each in Model)
            {
                <tr>
                    <td>@each.Name</td>
                    <td class="text-white @(each.IsReady ? "bg-success" : "bg-danger")">
                        @(each.IsReady ? "Готов" : "Еще не готов")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


