@model GameWebModel
@{
    ViewBag.Title = "Игра";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<h4>@ViewBag.Title</h4>

<div class="my-1">
    <p>Ваше имя: <strong>@Model.Current.Name</strong></p>
</div>

<div id="location" class="my-1">
    @Html.Partial("Partial/LocationPartial", 
    new LocationWebModel { Id = Model.Id })
</div>

<div class="my-1">
    @if (Model.Current.Name == Model.FirstName)
    {
        <p>Вы <strong>первым</strong> задаете вопрос любому другому игроку.</p>
    }
    else
    {
        <p>Первым вопрос задает <strong>@Model.FirstName</strong>.</p>
    }
</div>

<div id="voting" class="my-1"
     hx-get="@Url.Action("Index", "Game", new { Model.Id })"
     hx-trigger="every 1s">
    @Html.Partial("Partial/VotingPartial", Model)
</div>